@import url(https://fonts.googleapis.com/css?family=Ubuntu);

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5 {
    font-family: "Ubuntu", sans-serif;
}

.reveal {
    font-family: "Ubuntu", sans-serif;
}

.footnote {
    text-align: right;
}

.reveal div#slide-links {
    font-size: 20px;
}

.reveal .roll {
    vertical-align: middle;
}